# python
__pycache__
*.py[cod]

# virtualenvs
bin
include
lib
lib64
Scripts
pyvenv.cfg
/env
/.env
/.venv2
/.venv3

# build
build
dist
*.spec

# IDEs and editors
.idea
.vscode
*~
*.bak
*.cache

# platform specific
.DS_Store
*.swp
